@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    margin: 0;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background-color: #3a95d1;
}
main {
    width: 80%;
    margin: 22px auto;
    background-color:rgb(235, 239, 243);
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px (0,0,0,0.2);
}
h1 {
    text-align: center;
    color:#ffffff;
    font-size: 22px;
    margin: 0;
    line-height: 28px;
}
table {
    width: 100%;
    border-collapse: collapse;
}